services:
  sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: sqlserver-ecommerce
    environment:
      ACCEPT_EULA: Y
      SA_PASSWORD: "MyStr0ngP@ssw0rd123!"
      MSSQL_PID: Express
    ports:
      - "1433:1433"
    volumes:
      - sqlserver-data:/var/opt/mssql
    # healthcheck temporariamente desabilitado
    # healthcheck:
    #   test: ["CMD-SHELL", "/opt/mssql-tools18/bin/sqlcmd -S localhost -U sa -P 'MyStr0ngP@ssw0rd123!' -Q 'SELECT 1' -C"]
    #   interval: 30s
    #   timeout: 10s
    #   retries: 5
    #   start_period: 60s
    networks:
      - ecommerce-net

  rabbitmq:
    image: rabbitmq:3.12-management
    container_name: rabbitmq-ecommerce
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    ports:
      - "5672:5672"
      - "15672:15672"
    volumes:
      - rabbitmq-data:/var/lib/rabbitmq
    healthcheck:
      test: rabbitmq-diagnostics -q ping
      interval: 30s
      timeout: 30s
      retries: 3
    networks:
      - ecommerce-net

volumes:
  sqlserver-data:
    driver: local
  rabbitmq-data:
    driver: local

networks:
  ecommerce-net:
    driver: bridge
